*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(46, 255, 203);
    text-align: center;
    padding: 20pt;
}

main{
    display: flex;
}

article{
    display: flex;
    background-color: rgb(46, 255, 203);
    text-align: center;
}
